.headLogo {
    background-color: #282c34;
    min-height: fit-content;
    display: flex;
    padding: 15px;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.headLogo h4{
  align-items: left;
}