.headLogo {
    background-color: #282c34;
    min-height: fit-content;
    display: flex;
    padding: 15px;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.headLogo h4{
  align-items: left;
}

.search-bar {
  align-items: center;
}

.search-bar input {
  height: 30px;
  width: 300px;
  padding: 5px;
  border-radius: 3px;
  border: none;
}

.search-bar button {
  height: 30px;
  width: 40px;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
}

.search-bar button i {
  background-color: rgb(168, 54, 54);
}