.search-bar {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

.search-bar h4 {
  padding: 5px;
  margin: 2px;
}

.search-bar p {
  padding: 5px;
  margin: 2px;
}

.searchbox {
  display: flex;
}

.searchbox input {
    height: 30px;
    width: 300px;
    padding: 5px;
    border-radius: 3px;
    border: none;
  }
  
.searchbox button {
    align-self: center;
    height: 30px;
    width: 40px;
    margin-left: 5px;
  }
  
.searchbox button i {
    background-color: rgb(168, 54, 54);
  }